body {
  font-size: 14px;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  padding: 50px;
}

.tile {
  background-color: #26a69a;
  font-size: 24px;
  font-weight: 300;
  height: 200px;
  width: 100%;
}
